.fabric
crash-reports
data
defaultconfigs
logs
moddata
Notebook
patchouli_books
saves
server-resource-patchouli_books
shaderpacks
xaero
XaeroWaypoints_BACKUP240807
irisUpdateInfo.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
screenshots